# Managed by Ansible
user www-data;
worker_processes auto;
pid /run/nginx.pid;

events {
    worker_connections 768;
}

http {
    server {
        listen 80;
        server_name {{ inventory_hostname }};

        location / {
            return 200 "Welcome to {{ inventory_hostname }} ({{ ansible_default_ipv4.address }})!\n";
        }
    }
}

